<div class="login-splash">
  <!-- DON -->
  <!-- Yo check out how this is pulling from the DB, this is foundational -->
  <!-- <h5>Hello from firebase! Below is your fetched uname/password!</h5>
  <div *ngFor="let item of items"> 
		<p style="font-family: 'Courier New', Courier, monospace;">{{item.payload.doc.id}} {{item.payload.doc.data().username}} {{item.payload.doc.data().password}}</p>
	</div>
	<h5>Visit <a href="http://doxim-web-app.firebaseio.com/" target="_blank">http://doxim-web-app.firebaseio.com/</a> to see the database!</h5>
  <p>Make sure to select Cloud Firestore at the top, NOT realtime database.</p>
   -->
  <div class="login-box">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label><b>Username </b></label>
        <input type="text" class="form-control" (change)="refreshSubmit()" placeholder="Enter Username" formControlName="username" autofocus>
        <div *ngIf="submitted && messageForm.controls.username.errors">
          <div *ngIf="messageForm.controls.username.errors.required">Username is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label><b>Password </b></label>
        <input type="password" class="form-control" (change)="refreshSubmit()" placeholder="Enter Password" formControlName="password">
        <div *ngIf="submitted && messageForm.controls.password.errors">
          <div *ngIf="messageForm.controls.password.errors.required">Password is required.</div>
        </div>
        <br />
        <!-- class="form-control"<input type="submit" value="Log in" (click)="onLoginClick()">-->
        <input type="submit" class="btn btn-primary" value="Log in">
      </div>
    </form>
    <div *ngIf="submitted && success">
      <h5>Login successful</h5>
    </div>
  
    <div *ngIf="submitted && fail">
      <h5>Invalid login</h5>
    </div>
  </div>

  <div class="doximLogoBox">
    <img src="../../assets/images/doximLogoHiResAlpha.png" width=640px>
  </div>
  <!-- DON -->
  <!--Yo this thing right here updates the name in real time check it out
  <br>
  <div class="login-box">
    <h5>Live update example</h5>
    <p>This will be removed after demonstration</p>  
    <label>
      Login:
      <input type="text" [formControl]="loginForm" placeholder="Type something here">
    </label>
    <p>
      Value: {{ loginForm.value }}
    </p>
  </div>
  -->
</div>
