/* CREDIT CARD GRID SYSTEM STARTS HERE ============================================================ */

/* Top Container */
.gridTopContainer {
    width: 100%; height: calc(100% - (1075px - 300px));
  }
  
  .gridTopContainer::after {
    display: block; clear: both; content: "";
  }
  
  .gridTopLeft {
    width: 50%; height: 100%;
  }
  
  .gridTopLeft::after {
    display: block; clear: both; content: "";
  }
  
  .gridTopRight {
    width: 50%; height: 100%;
  }
  
  .gridTopRight::after {
    display: block; clear: both; content: "";
  }
  
  .logoSection {
    line-height: 150px;
    width: 100%; height: 50%;
  }
  
  .addressSection {
    line-height: 150px;
    width: 100%; height: 50%;
  }
  
  .ccLogoSection {
    text-align: right;
    line-height: 25px;
    width: 100%; height: 8.333%;
    background-position: right;
  }
  
  .headerSection {
    line-height: 75px;
    width: 100%; height: 25%;
  }
  
  .topGraphicSection {
    line-height: 200px;
    width: 100%; height: calc(100% - 8.333% - 25%);
  }
  
  /* Mid Container */
  .wideFillerSpace {
    width: 100%; height: calc(100% - (1075px - 20px));
    content: "";
  }
  
  .wideFillerSpace::after {
    display: block; clear: both; content: "";
  }
  
  .gridMidContainer {
    width: 100%; height: calc(100% - (1075px - 375px));
    background-image: url("../../../assets/shared/MidBlank.png");
  }
  
  .gridMidContainer::after {
    display: block; clear: both; content: "";
  }
  
  .ccMidSection {
    line-height: 375px;
    width: 100%; height: 100%;
  }
  
  /* Bottom Container */
  .gridBotContainer {
    width: 100%; height: calc(100% - (1075px - 400px));
  }
  
  .gridBotContainer::after {
    display: block; clear: both; content: "";
  }
  
  .couponSection {
    line-height: 350px;
    width: 100%; height: 87.5%;
  }
  
  .scanlineSection {
    line-height: 50px;
    width: 100%; height: 12.5%;
    background-position: top;
  }
  
  /* Page 2 */
  
  .p2gridTopContainer {
    width: 100%; height: calc(100% - (1075px - 75px));
  }
  
  .p2gridTopContainer::after {
    display: block; clear: both; content: "";
  }
  
  .p2logoSection {
    line-height: 50%;
    width: calc(100% - (750px - 250px)); height: 100%;
  }
  
  .p2headerSection {
    line-height: 50%;
    width: calc(100% - (750px - 500px)); height: 100%;
  }
  
  /* 2.5 inches tall  */
  .p2gridMidContainer1 {
    width: 100%; height: calc(100% - (1075px - 250px));
  }
  
  .p2gridMidContainer1::after {
    display: block; clear: both; content: "";
  }
  
  .p2OnsertImage {
    width: 100%; height: 100%;
  }
  
  .p2TransactionSummary {
    width: 100%; height: 100%;
  }
  
  /* 1.5 inches tall  */
  .p2gridMidContainer2 {
    width: 100%; height: calc(100% - (1075px - 150px));
  }
  
  .p2gridMidContainer2::after {
    display: block; clear: both; content: "";
  }
  
  .p2InterestCharge {
    width: 100%; height: 100%;
  }
  
  /* 1.75 inches tall  */
  .p2gridMidContainer3 {
    width: 100%; height: calc(100% - (1075px - 175px));
  }
  
  .p2gridMidContainer3::after {
    display: block; clear: both; content: "";
  }
  
  .p2FeeSummary {
    width: 100%; height: 100%;
  }
  
  /* 0.75 inches tall  */
  .p2gridMidContainer4 {
    width: 100%; height: calc(100% - (1075px - 75px));
  }
  
  .p2gridMidContainer4::after {
    display: block; clear: both; content: "";
  }
  
  .p2YTDSummary {
    width: 100%; height: 100%;
  }
  
  /* 3.5 inches tall  */
  .p2gridMidContainer5 {
    width: 100%; height: calc(100% - (1075px - 350px));
  }
  
  .p2gridMidContainer5::after {
    display: block; clear: both; content: "";
  }
  
  .p2WhitespaceAd {
    width: 100%; height: 100%;
  }