
<h1>Cloud Config</h1>
<br>
<div class="content">

  <p>
    The admin page was intended to implement features that included new feature testing and previewing, as well 
    as ways to add data to the database. This idea was pushed to a stetch goal when it was apparent that Firebase handles
    this for us better and with a native UI, and the admin panel is not a feature that needs to be added for any users yet.
  </p>

  <div class="collectionBox">
    <form id="add-user-form">
        <input type="text" name="username" placeholder="Enter new user">
        <input type="text" name="password" placeholder="Enter new password">
        <button (click)=addUser() class="btn btn-primary">Add User</button>
    </form>
    <br>
      <!-- <div class="dataList" *ngFor="let item of items">
        <p class="dataItem">{{item.payload.doc.data().username}} | {{item.payload.doc.data().password}}</p>
      </div> -->
  </div>


  <!-- Hue testing  -->
  <div class="hueTEST">
    <h3>Hue change test</h3>
    <button style="margin: 8px;" (click)=changeHue() class="btn btn-primary">Change Hue</button>
    <div class="gridMidContainer">
        <div class="ccMidSection"></div>
    </div>
  </div>
  
</div>