
h1{
    color: black;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
}

.dataList {
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
    padding:8px;
    width:14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-family: 'Courier New', Courier, monospace;
}

.dataItem {
    margin: 6px auto;
}

.test {
    margin: 0 auto;
}