
<h1>Cloud Config</h1>
<br>
<div class="content">

  <div class="collectionBox">
    <form id="add-user-form">
        <input type="text" name="username" placeholder="Enter new user">
        <input type="text" name="password" placeholder="Enter new password">
        <button>Add User</button>
    </form>
    <br>
      <div *ngFor="let item of items">
        <p style="font-family: 'Courier New', Courier, monospace;">{{item.payload.doc.data().username}} {{item.payload.doc.data().password}}</p>
      </div>
  </div>
    
</div>
<!--
<script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAok5-eG4zr9P_A2PQoLO439I3I0Ip8FGs",
      authDomain: "doxim-web-app.firebaseapp.com",
      databaseURL: "https://doxim-web-app.firebaseio.com",
      projectId: "doxim-web-app",
      storageBucket: "doxim-web-app.appspot.com",
      messagingSenderId: "264254253595",
      appId: "1:264254253595:web:29727759b7021df5a4a6be",
      measurementId: "G-WEZQLKZZSF"
    };
    firebase.initializeApp(config);
    const db = firebase.firestore();
    db.settings({ timestampsInSnapshots: true }); 
</script>
<script src="admin-page.component.ts"></script>
-->