
<h1>Cloud Config</h1>
<br>
<div class="content">

  <div class="collectionBox">
    <form id="add-user-form">
        <input type="text" name="username" placeholder="Enter new user">
        <input type="text" name="password" placeholder="Enter new password">
        <button>Add User</button>
    </form>
    <br>
      <div class="dataList" *ngFor="let item of items">
        <p class="dataItem">{{item.payload.doc.data().username}} | {{item.payload.doc.data().password}}</p>
      </div>
  </div>
    
</div>