.nav-ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #0099ff; */
}

.nav-li {
  float: left;
}

.logo-li {
  float: right;
  background-color: cornsilk;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  width: 80px;
}

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(82, 88, 117);
    font-weight: bold;
  }

.active {
  background-color: #4CAF50;
}

#navbar-nav {
  background-color: #79c; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}