<div class=" jumbotron text-center">
  <h1>New Style Banking</h1>
  <h2> Statment Ending 7/31/2019</h2>
  <div class="right">
    <p>Managing Your Account</p>
    <b>Primary Branch</b> &nbsp;    South Lyon
    <br />
    <br />
    <b>Online Banking </b> &nbsp;    Newstylebanking.com
    <br />
    <br />
    <b> Bank Number</b> &nbsp; 877-555-5555

  </div>
  <h3> Return Service Request</h3>
  <br>
  <div id="address">
    John Doe<br>
    12345 FieldPark Lane<br>
    Baltimore, MD 21224<br>
  </div>
  <br>
  <br>
  <br>

  <br />
  <fieldset>
    <legend>Summary of Account</legend>
    <p>Account Type &nbsp;Account Number &nbsp; Ending Balance</p>
    <hr>
    <p> Checking &nbsp; XXXXXXXXXXX0981 &nbsp; $867.00</p>
  </fieldset>

  <h3> Account Activity</h3>
  <table>
    <tr>
      <th>Post Date</th>
      <th>Description</th>
      <th>Debits</th>
      <th>Credits</th>
      <th>Balance</th>
    </tr>
    <tr>
      <td>7/31/19</td>
      <td>JCPenny clothing credit charge</td>
      <td> $ 73.89</td>
      <td> </td>
      <td> $867.00</td>
    </tr>
    <tr>
      <td>7/25/19</td>
      <td>Best Buy 0089Abc</td>
      <td>$30.00</td>
      <td> </td>
      <td> 940.89</td>
    </tr>

    <tr>
      <td>7/20/19</td>
      <td>Tanking Blue Company Deposit</td>
      <td> </td>
      <td>$500.00</td>
      <td> 970.89</td>
    </tr>

    <tr>
      <td> 7/12/19</td>
      <td>Kroger</td>
      <td> $150.00</td>
      <td> </td>
      <td> $470.89</td>
    </tr>

    <tr>
      <td>6/30/19</td>
      <td>Cashapp BrianX190A</td>
      <td> </td>
      <td>20.00</td>
      <td>620.89</td>
    </tr>

  </table>
  <br />
  <br />
  <br />
</div>
