<div class="viewPane">
  <div class="paperContainer">

    <div class="gridTopContainer">

      <div class="gridTopLeft gridSection">
        <div class="logoSection gridSection">logo.jpg</div>
        <div class="addressSection gridSection">Joe Member&#13;&#10;123 Main St&#13;&#10;Sunnydale, CA 24932</div>
      </div>

      <div class="gridTopRight gridSection">
        <div class="ccLogoSection gridSection">ccLogo.jpg</div>
        <div class="headerSection gridSection">Statment Period: 10/01/19 - 10/31/19</div>
        <div class="topGraphicSection gridSection">TopGraphic.jpg</div>
      </div>

    </div>

    <div class="gridMidContainer">
      <div class="ccMidSection gridSection">Mid-Section</div>
    </div>

    <div class="gridBotContainer">
      <div class="CouponSection gridSection">Coupon Area</div>
      <div class="scanlineSection gridSection">Optional Scanline</div>
    </div>

  </div>
</div>
