/* https://tympanus.net/Development/CreativeButtons/ */
/* Statement header blue # 0055a4 */
/* Credit card header blue # 559ecd */
/* Doxim blue # 00a7e1 */

#downloadDiv {
  margin-left:125px;
  padding: 6px;
  width: 175px;
  border-radius: 8px;
  text-align: center;
  background: orange;
}

.viewPanel {
  margin: 0 auto;
}

.viewBox {
  /* 100 pixels = 1 inch */
  /* DO NOT CHANGE DIMENSIONS */
  height: 1100px;
  width: 850px;
  margin-top: 42px;
  border: 2px solid;
  background-color: white;
}

.viewBox2 {
  /* 100 pixels = 1 inch */
  /* DO NOT CHANGE DIMENSIONS */
  height: 1100px;
  width: 850px;
  margin-top: 42px;
  border: 2px solid;
  background-color: white;
}

.paperContainer {
  /* 100 pixels = 1 inch */
  height: calc(100% - 25px);
  width: calc(100% - 100px);
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: white;
}

.paperContainer::after {
  display: block; clear: both; content: "";
}

.gridSection {
  float: left;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.collapse {
  display: none;
}

/* Flash the alert box to catch user's attention  */
.flash {
  background-color: #b8e5ffdc;
}

/* Greyscale Class*/

.black_and_white { 
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-filter: grayscale(100%);
}

/* CREDIT CARD GRID SYSTEM STARTS HERE ============================================================ */

/* Top Container */
.gridTopContainer {
  width: 100%; height: calc(100% - (1075px - 300px));
}

.gridTopContainer::after {
  display: block; clear: both; content: "";
}

.gridTopLeft {
  width: 50%; height: 100%;
}

.gridTopLeft::after {
  display: block; clear: both; content: "";
}

.gridTopRight {
  width: 50%; height: 100%;
}

.gridTopRight::after {
  display: block; clear: both; content: "";
}

.logoSection {
  line-height: 150px;
  width: 100%; height: 50%;
}

.addressSection {
  line-height: 150px;
  width: 100%; height: 50%;
}

.ccLogoSection {
  text-align: right;
  line-height: 25px;
  width: 100%; height: 8.333%;
  background-position: right;
}

.headerSection {
  line-height: 75px;
  width: 100%; height: 25%;
}

.topGraphicSection {
  line-height: 200px;
  width: 100%; height: calc(100% - 8.333% - 25%);
}

/* Mid Container */
.wideFillerSpace {
  width: 100%; height: calc(100% - (1075px - 20px));
  content: "";
}

.wideFillerSpace::after {
  display: block; clear: both; content: "";
}

.gridMidContainer {
  width: 100%; height: calc(100% - (1075px - 375px));
  background-image: url("../../../assets/shared/MidBlank.png");
}

.gridMidContainer::after {
  display: block; clear: both; content: "";
}

.ccMidSection {
  line-height: 375px;
  width: 100%; height: 100%;
}

/* Bottom Container */
.gridBotContainer {
  width: 100%; height: calc(100% - (1075px - 400px));
}

.gridBotContainer::after {
  display: block; clear: both; content: "";
}

.couponSection {
  line-height: 350px;
  width: 100%; height: 87.5%;
}

.scanlineSection {
  line-height: 50px;
  width: 100%; height: 12.5%;
  background-position: top;
}

/* Page 2 */

.p2gridTopContainer {
  width: 100%; height: calc(100% - (1075px - 75px));
}

.p2gridTopContainer::after {
  display: block; clear: both; content: "";
}

.p2logoSection {
  line-height: 50%;
  width: calc(100% - (750px - 250px)); height: 100%;
}

.p2headerSection {
  line-height: 50%;
  width: calc(100% - (750px - 500px)); height: 100%;
}

/* 2.5 inches tall  */
.p2gridMidContainer1 {
  width: 100%; height: calc(100% - (1075px - 250px));
}

.p2gridMidContainer1::after {
  display: block; clear: both; content: "";
}

.p2OnsertImage {
  width: 100%; height: 100%;
}

.p2TransactionSummary {
  width: 100%; height: 100%;
}

/* 1.5 inches tall  */
.p2gridMidContainer2 {
  width: 100%; height: calc(100% - (1075px - 150px));
}

.p2gridMidContainer2::after {
  display: block; clear: both; content: "";
}

.p2InterestCharge {
  width: 100%; height: 100%;
}

/* 1.75 inches tall  */
.p2gridMidContainer3 {
  width: 100%; height: calc(100% - (1075px - 175px));
}

.p2gridMidContainer3::after {
  display: block; clear: both; content: "";
}

.p2FeeSummary {
  width: 100%; height: 100%;
}

/* 0.75 inches tall  */
.p2gridMidContainer4 {
  width: 100%; height: calc(100% - (1075px - 75px));
}

.p2gridMidContainer4::after {
  display: block; clear: both; content: "";
}

.p2YTDSummary {
  width: 100%; height: 100%;
}

/* 3.5 inches tall  */
.p2gridMidContainer5 {
  width: 100%; height: calc(100% - (1075px - 350px));
}

.p2gridMidContainer5::after {
  display: block; clear: both; content: "";
}

.p2WhitespaceAd {
  width: 100%; height: 100%;
}

/* REGULAR STATEMENT GRID SYSTEM STARTS HERE ============================================================ */

.paperContainerLeftScanline {
  /* 100 pixels = 1 inch */
  height: calc(100% - 25px);
  width: calc(100% - 50px);
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.paperContainerLeftScanline::after {
  display: block; clear: both; content: "";
}

/* Scanline and non-scanline sections */

.StatementGridScanline {
  width: calc(100% - (800px - 50px)); height: 100%;
}

.StatementGridScanline::after {
  display: block; clear: both; content: "";
}

.scanlineSectionLeft {
  line-height: 1075px;
  width: 100%; height: 100%;
}

.StatementGridRemaining {
  width: calc(100% - (800px - 750px)); height: 100%;
}

.StatementGridRemaining::after {
  display: block; clear: both; content: "";
}

/* Top Container */

.gridTopContainerReg {
  width: 100%; height: calc(100% - (1075px - 325px)); /* change this if adding scanline! */
}

.gridTopContainerReg::after {
  display: block; clear: both; content: "";
}

.gridTopLeftReg {
  width: 50%; height: 100%;
}

.gridTopLeftReg::after {
  display: block; clear: both; content: "";
}

.gridTopRightReg {
  width: 50%; height: 100%;
}

.gridTopRightReg::after {
  display: block; clear: both; content: "";
}

.logoSectionReg {
  line-height: 125px;
  width: 100%; height: calc(100% - (100% - 125px));
}

.addressSectionReg {
  line-height: 200px;
  width: 100%; height: calc(100% - (100% - 200px));
}

.topGraphicSectionReg {
  line-height: 225px;
  width: 100%; height: calc(100% - (100% - 225px));
}

.AccountInfoReg {
  line-height: 100px;
  width: 100%; height: calc(100% - (100% - 100px));
}

/* Mid Container */

.gridMidContainerReg {
  width: 100%; height: calc(100% - (1025px - 700px));
}

.gridMidContainer::after {
  display: block; clear: both; content: "";
}

.AccountSummaryReg {
  background-image: url("../../../assets/shared/MidBlank.png");
  background-size: cover;
  line-height: 275px;
  width: 100%; height: calc(100% - (100% - 275px));
}

.shareSavingsReg {
  line-height: 225px;
  width: 100%; height: calc(100% - (100% - 225px));
}

.whitespaceAd1Reg {
  line-height: 200px;
  width: 100%; height: calc(100% - (100% - 200px));
}

/* Page 2 */

.debug div {
  border: 1px solid green;
}

.p2gridTopContainerReg {
  width: 100%; height: calc(100% - (1075px - 100px));
}

.p2gridTopContainerReg::after {
  display: block; clear: both; content: "";
}

.p2logoSectionReg {
  line-height: 100px;
  width: 50%; height: 100%;
}

.p2headerSectionReg {
  line-height: 100px;
  width: 50%; height: 100%;
}

/* 1.75 inches tall  */
.p2gridMidContainerReg1 {
  width: 100%; height: calc(100% - (1075px - 175px));
}

.p2gridMidContainerReg1::after {
  display: block; clear: both; content: "";
}

.FixedMortgageReg {
  line-height: 175px;
  width: 100%; height: 100%;
}

/* 1.5 inches tall  */
.p2gridMidContainerReg2 {
  width: 100%; height: calc(100% - (1075px - 150px));
}

.p2gridMidContainerReg2::after {
  display: block; clear: both; content: "";
}

.HomeEquityReg {
  line-height: 150px;
  width: 100%; height: 100%;
}

/* 0.75 inches tall  */
.p2gridMidContainerReg3 {
  width: 100%; height: calc(100% - (1075px - 75px));
}

.p2gridMidContainerReg3::after {
  display: block; clear: both; content: "";
}

.YTDSummaryReg {
  line-height: 75px;
  width: 100%; height: 100%;
}

/* 2.75 inches tall  */
.p2gridMidContainerReg4 {
  width: 100%; height: calc(100% - (1075px - 275px));
}

.p2gridMidContainerReg4::after {
  display: block; clear: both; content: "";
}

.WhitespaceAd2Reg {
  line-height: 275px;
  width: 100%; height: 100%;
}

/* 2.5 inches tall  */
.p2gridMidContainerReg5 {
  width: 100%; height: calc(100% - (1075px - 250px));
}

.p2gridMidContainerReg5::after {
  display: block; clear: both; content: "";
}

.WhitespaceAd3Reg {
  line-height: 250px;
  width: 100%; height: 100%;
}