<script type="text/javascript" src="./lib/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>


<button (click)=popSkele()>populateSkeleton</button>
<button (click)=exportButton()>Export</button>
<button (click)=addGS()>GreyOut</button>
<button (click)=removeGS()>ColorFlush</button>


<div class="viewPanel">
  <div class="viewBox">
    <div class="paperContainer">

      <div class="gridTopContainer">

        <div class="gridTopLeft gridSection colorImage">
          <div class="logoSection gridSection colorImage"></div>
          <div class="addressSection gridSection colorImage"></div>
        </div>

        <div class="gridTopRight gridSection colorImage">
          <div class="ccLogoSection gridSection colorImage"></div>
          <div class="headerSection gridSection colorImage"></div>
          <div class="topGraphicSection gridSection colorImage"></div>
        </div>

      </div>

      <div class="wideFillerSpace"></div>

      <div class="gridMidContainer">
        <div class="ccMidSection gridSection colorImage"></div>
      </div>

      <div class="gridBotContainer">
        <div class="couponSection gridSection colorImage"></div>
        <div class="scanlineSection gridSection colorImage"></div>
      </div>

    </div>
  </div>
</div>
