.surveyPanel {
  position: fixed;
  overflow-y: scroll;
  top: 6px;
  bottom: 0;
  margin-left: -120px;
  margin-top: 10px;
  max-width: 420px;

  /* Hide scrollbar in firefox */
  scrollbar-color:  rgba(77, 105, 114, 0.8) transparent;

  /* 
  Doxim Blue scroll bar
  scrollbar-color:  rgba(0,167,225,0.8) transparent;
  */
}

.previewPanel {
  position: fixed;
  overflow-y: scroll;
  top: 6px;
  bottom: 0;
  margin-left: 330px;
  margin-top: 12px;

  /* Use this to get the scroll bar to the far right  */
  /* max-width: 1200px; */

  /* Use this to get the buttons to line up nicely  */
   max-width: 900px; 

  /* Hide scrollbar in firefox */
  scrollbar-color:  rgba(77, 105, 114, 0.8) transparent;
}
/* Hiding scrollbar for Google Chrome using webkit  */
::-webkit-scrollbar { background: transparent;
 }
 body ::-webkit-scrollbar { width: 0 !important } 
 body { overflow: -moz-scrollbars-none; }
 body { -ms-overflow-style: none; }
/* Optional: show position indicator in doxim blue */
::-webkit-scrollbar-thumb {
  background: rgba(0,167,225,0.8);
}