<div class="login-splash">
  <h2>Login Page</h2>


  <div style="padding-top:.9rem;">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div>
        <label><b>Username </b></label>
        <input type="text" (change)="refreshSubmit()" placeholder="Enter Username" formControlName="username">
        <div *ngIf="submitted && messageForm.controls.username.errors">
          <div *ngIf="messageForm.controls.username.errors.required">Username is required.</div>
        </div>
        <br />

        <label><b>Password </b></label>
        <input type="password" (change)="refreshSubmit()" placeholder="Enter Password" formControlName="password">
        <div *ngIf="submitted && messageForm.controls.password.errors">
          <div *ngIf="messageForm.controls.password.errors.required">Password is required.</div>
        </div>
        <br />
        <!--<input type="submit" value="Log in" (click)="onLoginClick()">-->
        <input type="submit" value="Log in">
      </div>
    </form>
  </div>

  <div *ngIf="success">
    <h5>Login successful</h5>
  </div>

  <div *ngIf="submitted && !success">
    <h5>Invalid login</h5>
  </div>
</div>
