/* Master Color Information */
/* https://tympanus.net/Development/CreativeButtons/ */
/* Statement header blue # 0055a4 */
/* Credit card header blue # 559ecd */
/* Doxim blue # 00a7e1 */

/* === Question Containers ========== ========== ========== ========== ========== ========== */

/* Style for entire survey panel master div  */
.surveyPanel {
  margin: 0 auto;
}

/* Main question card box  */
.question {
  border-radius: 5px;
  background-color: #fafafa;
  padding: 20px;
  margin: 2px;
}

/* Adding margin to bootstrap's card class */
.card{
  margin:8px;
}

/* Apply changes to card class on hover */
.card:hover {
  background-color: #53c6ffd8;
  -webkit-box-shadow: 0 0 4px 2px #53c6ffd8;
  -moz-box-shadow: 0 0 4px 2px #53c6ffd8;
  box-shadow: 0 0 4px 2px #53c6ffd8;
  transition: box-shadow 0.33s;
}

/* Internal testing class to alert user to unfished cards */
.red {
  background-color: #c0000099;
}

/* Internal testing class to alert user to unfished cards */
.yellow {
  background-color: #fffb1cc4;
}

/* Alert user of the limited support for web-filter color and hue-rotation */
.warning {
  width: 80%;
  color: red;
  font-size: 0.7em;
}

/* Disappear question cards based on component logic */
.hideThisDiv{
  display: none;
}

/* Disappear all survey question cards until inital core and statement type are chosen */
.initialhideThisDiv{
  display:none;
}

/* Internal hiding class */
.hideForNow{
  display:none;
}

/* Paragraph style to alert user of image upload success */
.uploaded {
  font-weight: bolder;
  text-align: center;
  position: sticky;
}

/* class change to only show "uploaded" div after image upload */
.uploadedHidden {
  display:none;
}

/* === radio buttons ========== ========== ========== ========== ========== */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #ffffff;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-radio:checked {
    background-color: #cfd8dc;
    color: black;
    font-weight: bolder;
  }

  .form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-radio:hover {
    background-color: #eceff1;
    color: #1f6797;
  }

  .form-radio:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

/* === Checkboxes ========== ========== ========== ========== ========== */

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-checkbox:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-checkbox:hover {
    background-color: #f7f7f7;
  }

  .form-checkbox:checked {
    background-color: #f1f1f1;
  }

/* === Color Picker Input ========== ========== ========== ========== ========== */

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 128px;
  height: 2em;
}

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #2dd5ff;
}