<div class="surveyPanel">
	
	<!-- loadOrder = 1 -->
	<div class="generalQuestion question" id="upLoadcustomerLogo">
    <h3>Customer Logo</h3>
    <form>
	    <label for="uploadLogo">Upload your company logo:</label>
     <br>
      <input type="file" class="form-control-file" id="uploadLogo">
	  <br>
	      <!-- add to preview -->
	</form>
	</div>
	
	 <!--  <div class="generalQuestion question" id="customerColorType">
    <h3>Customer Colors</h3>
    <form>
	
	<p>Choose your company color:</p>
      <form action="/action_page.php">
      <input type="color" name="favcolor" value="#ff0000">
    </form>
	<br>
	</form>
	</div> -->
	
  <div class="coreQuestion question form-group" id="coreSelection">
    <h3>Utilized Data Core</h3>
    <p>The three main cores are listed below:</p>
    <form action="/determine_questionss.php">
      <select class="form-control" id="coreType">
        <option value="" disabled selected>Choose a Core...</option>
        <option value="1">Corelation</option>
        <option value="2">FireservDNA</option>
        <option value="2">Symitar</option>
      </select>
    </form>
  </div>
  
  
	<!-- javascript function to read the answer  and show statement Type if necessary-->
	<!-- <script>

		if value = 2,
		show id statementType
		else, load all the generalQuestion class questions
	</script> -->
  
  <div class="coreQuestion question" id="statementTypeSelection">
    <h3>Billing Statement Type</h3>
    <form>
      <input type="radio" class="form-radio" name="statementTypeSelection" value="Account">Account<br>
      <input type="radio" class="form-radio" name="statementTypeSelection" value="CreditCard">Credit Card<br>
    </form>
  </div>

	<!-- javascript function to read the answer -->
	
	<!-- if value = CreditCard then show div with ID creditCardLogo
			else load all the generalQuestion class questions
     This is where the conditional from statement type should make the CC logo question appear/vanish -->
    <!-- If member statement is selected, make this question invisible -->


  <div class="coreQuestion question form-group" id="cclogoSelection">
    <h3>Credit Card Logo</h3>
    <form>
      <select class="form-control" id="ccLogo">
        <option value="Mastercard">Visa</option>
        <option value="Visa">Mastercard</option>
        <option value="None">No Logo</option>
      </select>
    </form>
  </div>  
  
  <div class="generalQuestion question" id="printColorType">
    <h3>Print Color Options</h3>
    <form>
      <input type="radio" class="form-radio" name="colorType" value="Full Color" checked>Full color<br>
      <input type="radio" class="form-radio" name="colorType" value="Grayscale">Grayscale<br>
    </form>
  </div>


  <div class="generalQuestion question" id="marketingType">
    <h3>Level of Marketing</h3>
	<p>What type of marketing would you like?</p>
    <form>
      <input type="radio" class="form-radio" name="marketingLevel" value="imageOnly" checked>Image<br>
      <input type="radio" class="form-radio" name="marketingLevel" value="textOnly">Text Only<br>
      <input type="radio" class="form-radio" name="marketingLevel" value="contactInfo">Contact Info<br>
      <input type="radio" class="form-radio" name="marketingLevel" value="none">None<br>
      <br>
    </form>
  </div>

  <div class="generalQuestion question" id="maskingType">
    <h3>Account Masking</h3>
	<p> How much of your account number would you like visible? </p>
    <form>
      <input type="radio" class="form-radio" name="maskingLevel" value="4numbers" checked>4 Numbers revealed<br>
      <input type="radio" class="form-radio" name="maskingLevel" value="3 stars">3 Numbers revealed<br>
      <input type="radio" class="form-radio" name="maskingLevel" value="None">None, all numbers hidden<br>
    </form>
  </div>

  <div class="generalQuestion question" id="scanlineType">
    <h3>Scanline Option</h3>
    <p>Would you like a scanline included on your statement?</p>
    <form id="messageForm" (ngSubmit)="onSubmit()">
      <input type="radio" class="form-radio" name="scanlineLevel" value="Yes" checked>Yes<br>
      <input type="radio" class="form-radio" name="scanlineLevel" value="No">No<br>
    </form>
  </div>
</div>
