.surveyPane {
  margin: 0 auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom: 2px solid #00b0f0;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 150px;
  height: 48px;
  background-color: #00b0f0;
  color: white;
  font-size: 1.05em;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  input[type=submit]:hover {
    background-color: #45a049;
    font-size: 1.1em;
  }

  input[type=submit]:focus {
    background-color: #66ff99;
  }

/* === radio buttons === */
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-radio:hover {
    background-color: #f7f7f7;
  }

  .form-radio:checked {
    background-color: #f1f1f1;
  }

/* === checkboxes === */
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-checkbox:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-checkbox:hover {
    background-color: #f7f7f7;
  }

  .form-checkbox:checked {
    background-color: #f1f1f1;
  }

/* === Color Picker Input === */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 128px;
  height: 2em;
}

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

/* === Question Containers === */
.question {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
}

  .question:hover {
    background-color: #eaf7f7;
  }
