/* === Question Containers ========== ========== ========== ========== ========== */

/* Style for entire survey panel master div  */
.surveyPanel {
  margin: 0 auto;
}

/* Main question card box  */
.question {
  border-radius: 5px;
  background-color: #fafafa;
  padding: 20px;
  margin: 2px;
}

/* Adding margin to bootstrap's card class */
.card{
  margin:8px;
}

/* Apply changes to card class on hover */
.card:hover {
  background-color: #85d5fd;
}

/* Internal testing class to alert user to unfished cards */
.red {
  background-color: #c000006c;
}

/* Disappear question cards based on component logic */
.hideThisDiv{
  display: none;
}

/* === radio buttons ========== ========== ========== ========== ========== */

.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-radio:hover {
    background-color: #f7f7f7;
  }

  .form-radio:checked {
    background-color: #f1f1f1;
  }

/* === Checkboxes ========== ========== ========== ========== ========== */

.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

  .form-checkbox:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
  }

  .form-checkbox:hover {
    background-color: #f7f7f7;
  }

  .form-checkbox:checked {
    background-color: #f1f1f1;
  }

/* === Color Picker Input ========== ========== ========== ========== ========== */

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 128px;
  height: 2em;
}

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }